.page-layout {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
}
.page-layout__header {
  display: flex;
  flex-grow: 0;
  box-sizing: border-box;
  height: 60px;
  background-color: #777;
}
.page-layout__body {
  display: flex;
  flex-grow: 2;
  box-sizing: border-box;
}
