.cart-icon {
  position: relative;
  margin-top: 14px;
  cursor: pointer;
}
.cart-icon__count {
  position: absolute;
  bottom: 12px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #f00;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif
}
.cart-icon__black-cart {
  display: block;
}
.cart-icon__white-cart {
  display: none;
}
@media screen and (max-width: 320px) {
  .cart-icon__black-cart {
    display: none;
  }
  .cart-icon__white-cart {
    display: block;
  }
}
@media screen and (min-width: 321px) and (max-width: 440px) {
  .cart-icon__black-cart {
    display: none;
  }
  .cart-icon__white-cart {
    display: block;
  }
}