.page-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
}
.page-layout__header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  flex-grow: 0;
  height: 60px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .2); 
  background-color: #fff;
}
.page-layout__body {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  padding: 70px 0 10px;
}
@media screen and (max-width: 320px) {
  .page-layout__header {
    background-color: #78BE20
  }
}
@media screen and (min-width: 321px) and (max-width: 440px) {
  .page-layout__header {
    background-color: #78BE20
  }
}
