.prod-catalog {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  padding: 10px;
}
.prod-catalog__item {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  width: 200px;
  height: 360px; 
  margin: 10px;
  background-color: #eee;
}
