.header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: stretch;
  max-width: 1100px;
}
.header__container {
  box-sizing: border-box;
  display: flex;
  padding: 0 10px;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between
}
.header__logo {
  display: flex;
}
.header__mobile-title {
  color: #fff;
  font-size: 18px;
  padding-bottom: 10px;
  display: none
}
.header__cart-icon {
  display: flex;
  align-items: center
}
.cart-icon {
  position: relative;
  margin-top: 14px;
}
.cart-icon__count {
  position: absolute;
  bottom: 12px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #f00;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif
}
.cart-icon__black-cart {
  display: block;
}
.cart-icon__white-cart {
  display: none;
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 220px;
  }
  .header__logo {
    display: none
  }
  .header__mobile-title {
    display: flex;
    align-items: flex-end;
  }
  .cart-icon__black-cart {
    display: none;
  }
  .cart-icon__white-cart {
    display: block;
  }
}
@media screen and (min-width: 321px) and (max-width: 440px) {
  .header {
    max-width: 310px;
  }
  .header__logo{
    display: none
  }
  .header__mobile-title {
    display: flex;
    align-items: flex-end;
  }
  .cart-icon__black-cart {
    display: none;
  }
  .cart-icon__white-cart {
    display: block;
  }
}
@media screen and (min-width: 441px) and (max-width: 660px) {
  .header {
    max-width: 440px;
  }
}
@media screen and (min-width: 661px) and (max-width: 880px) {
  .header {
    max-width: 660px;
  }
}
@media screen and (min-width: 881px) and (max-width: 1100px) {
  .header {
    max-width: 880px;
  }
}
@media screen and (min-width: 1101px) {
  .header {
    max-width: 1100px;
  }
}