.header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: stretch;
  max-width: 1100px;
  background-color: #FFF;
  border-bottom: rgb(229, 229, 229) solid 1px;
}
.header__container {
  box-sizing: border-box;
  display: flex;
  padding: 0 10px;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between
}
.header__logo {
  display: flex;
}
.header__cart-icon {
  display: flex;
  align-items: center
}
.cart-icon {
  position: relative;
  margin-top: 14px;
}
.cart-icon__count {
  position: absolute;
  top: -5px;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #f00;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 220px;
  }
}
@media screen and (min-width: 321px) and (max-width: 440px) {
  .header {
    max-width: 280px;
  }
}
@media screen and (min-width: 441px) and (max-width: 660px) {
  .header {
    max-width: 440px;
  }
}
@media screen and (min-width: 661px) and (max-width: 880px) {
  .header {
    max-width: 660px;
  }
}
@media screen and (min-width: 881px) and (max-width: 1100px) {
  .header {
    max-width: 880px;
  }
}
@media screen and (min-width: 1101px) {
  .header {
    max-width: 1100px;
  }
}